.edit-button {
  color: #999;
  cursor: pointer;
}

.edit-button:hover {
  color: black;
}

.edit-row-button {
  cursor: pointer;
}

.edit-row-button.edit-confirm {
  color: #5cb85c;
}

.edit-row-button.edit-cancel {
 color: #292b2c;
}

.profile-button img {
  border-radius: 100%;
  cursor: pointer;
  height: 2.5rem;
}

.profile-button.dropdown-toggle::after {
  content: none;
}
