html, body, div#root {
  height: 100%;
}

body {
  background: url("/back.jpg");
}

.table td.fit,
.table th.fit {
  white-space: nowrap;
  width: 1%;
}

.cursor-pointer {
  cursor: pointer;
}

.text-muted-hover {
  color: #6c757d;
}

.text-muted-hover:hover {
  color: black;
}

.divider-bottom {
  border-bottom: 1px solid #999;
}