.list-link {
  color: black;
}

.list-link:hover {
  text-decoration: none;
}

.list-container {
  /* max-width: 500px; */
  margin: 0 auto;
  background: white;
  border-radius: 1rem;
  padding: 1rem;
  /* border: 1px solid #999; */
  /* border-radius: 0.3rem; */
}

.delete-list {
  cursor: pointer;
  color: #6c757d;
}

.delete-list:hover {
  color: black;
}